plugins/BS440graph-NodeRedFlow.txt
[{"id":"283cfe16.9fd772","type":"tab","label":"Gewicht","disabled":false,"info":""},{"id":"a45a6d48.d6478","type":"csv","z":"283cfe16.9fd772","name":"ToObj","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"tijd, gewicht, vet, spieren, botten, vocht, kcal, bmi","x":890,"y":480,"wires":[["5077994f.743088"]]},{"id":"b6396987.2d46b8","type":"file in","z":"283cfe16.9fd772","name":"ReadCSV","filename":"","format":"utf8","chunk":false,"sendError":true,"x":760,"y":480,"wires":[["a45a6d48.d6478"]]},{"id":"526cf159.ff468","type":"ui_chart","z":"283cfe16.9fd772","name":"Graph","group":"b14e0265.d6fc1","order":5,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"D/M","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"5","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1630,"y":480,"wires":[[],[]]},{"id":"fe3d87e9.12a038","type":"change","z":"283cfe16.9fd772","name":"Select gewicht","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"gewicht\", \"values\": msg.payload.[tijd*1000, gewicht] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":280,"wires":[["526cf159.ff468"]]},{"id":"cc8fe59b.1a6838","type":"function","z":"283cfe16.9fd772","name":"Select Marina","func":"msg.filename = \"/home/pi/BS440/plugins/BS440csv/1.csv\";\nflow.set(\"LastUser\", \"Marina\");\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["b6396987.2d46b8"]]},{"id":"190548a8.d1a647","type":"function","z":"283cfe16.9fd772","name":"Select Paul","func":"msg.filename = \"/home/pi/BS440/plugins/BS440csv/2.csv\";\nflow.set(\"LastUser\", \"Paul\");\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["b6396987.2d46b8"]]},{"id":"232521c4.f239ce","type":"ui_button","z":"283cfe16.9fd772","name":"","group":"b14e0265.d6fc1","order":2,"width":"2","height":"1","passthru":true,"label":"Paul","color":"black","bgcolor":"#C7E9C0","icon":"fa-balance-scale","payload":"Paul","payloadType":"str","topic":"","x":370,"y":600,"wires":[["190548a8.d1a647","1a53df4a.cb5d51"]]},{"id":"b4fd1f6d.30e89","type":"ui_button","z":"283cfe16.9fd772","name":"","group":"b14e0265.d6fc1","order":1,"width":"2","height":"1","passthru":true,"label":"Marina","color":"black","bgcolor":"#D7D7A0","icon":"fa-balance-scale","payload":"Marina","payloadType":"str","topic":"","x":370,"y":360,"wires":[["cc8fe59b.1a6838","1a53df4a.cb5d51"]]},{"id":"ac47202b.4482d","type":"ui_dropdown","z":"283cfe16.9fd772","name":"GraphType","label":"","place":"Select","group":"b14e0265.d6fc1","order":3,"width":"2","height":"1","passthru":true,"options":[{"label":"Gewicht","value":"gewicht","type":"str"},{"label":"Vet","value":"vet","type":"str"},{"label":"Spieren","value":"spieren","type":"str"},{"label":"Botten","value":"botten","type":"str"},{"label":"Vocht","value":"vocht","type":"str"},{"label":"Kcal","value":"kcal","type":"str"},{"label":"BMI","value":"bmi","type":"str"}],"payload":"","topic":"","x":130,"y":280,"wires":[["b15bd9af.058e28","a7a40a2.58d2df8"]]},{"id":"db186243.a206","type":"switch","z":"283cfe16.9fd772","name":"Type","property":"GraphType","propertyType":"flow","rules":[{"t":"eq","v":"gewicht","vt":"str"},{"t":"eq","v":"vet","vt":"str"},{"t":"eq","v":"spieren","vt":"str"},{"t":"eq","v":"botten","vt":"str"},{"t":"eq","v":"vocht","vt":"str"},{"t":"eq","v":"kcal","vt":"str"},{"t":"eq","v":"bmi","vt":"str"}],"checkall":"false","outputs":7,"x":1190,"y":480,"wires":[["fe3d87e9.12a038"],["f47f498d.1786d8"],["a4cb3fa5.5b707"],["8a224a46.f77368"],["69580b63.38b634"],["bf3dc97c.52a108"],["66bfd303.9f64bc"]]},{"id":"f47f498d.1786d8","type":"change","z":"283cfe16.9fd772","name":"Select vet","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"vet\", \"values\": msg.payload.[tijd*1000, vet] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":360,"wires":[["526cf159.ff468"]]},{"id":"b15bd9af.058e28","type":"function","z":"283cfe16.9fd772","name":"Set GraphType","func":"flow.set(\"GraphType\", msg.payload)","outputs":1,"noerr":0,"x":340,"y":280,"wires":[[]]},{"id":"a4cb3fa5.5b707","type":"change","z":"283cfe16.9fd772","name":"Select spieren","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"spieren\", \"values\": msg.payload.[tijd*1000, spieren] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1402.8573913574219,"y":437.91438484191895,"wires":[["526cf159.ff468"]]},{"id":"8a224a46.f77368","type":"change","z":"283cfe16.9fd772","name":"Select botten","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"botten\", \"values\": msg.payload.[tijd*1000, botten] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":520,"wires":[["526cf159.ff468"]]},{"id":"69580b63.38b634","type":"change","z":"283cfe16.9fd772","name":"Select vocht","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"vocht\", \"values\": msg.payload.[tijd*1000, vocht] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":600,"wires":[["526cf159.ff468"]]},{"id":"bf3dc97c.52a108","type":"change","z":"283cfe16.9fd772","name":"Select kcal","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"kcal\", \"values\": msg.payload.[tijd*1000, kcal] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":680,"wires":[["526cf159.ff468"]]},{"id":"66bfd303.9f64bc","type":"change","z":"283cfe16.9fd772","name":"Select bmi","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   { \"key\": \"bmi\", \"values\": msg.payload.[tijd*1000, bmi] } ]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":760,"wires":[["526cf159.ff468"]]},{"id":"a7a40a2.58d2df8","type":"switch","z":"283cfe16.9fd772","name":"LastUser","property":"LastUser","propertyType":"flow","rules":[{"t":"eq","v":"Marina","vt":"str"},{"t":"eq","v":"Paul","vt":"str"}],"checkall":"false","outputs":2,"x":120,"y":480,"wires":[["b4fd1f6d.30e89"],["232521c4.f239ce"]]},{"id":"1a53df4a.cb5d51","type":"ui_text","z":"283cfe16.9fd772","group":"b14e0265.d6fc1","order":4,"width":0,"height":0,"name":"Show User","label":"Gebruiker","format":"{{msg.payload}}","layout":"row-left","x":550,"y":480,"wires":[]},{"id":"105af05d.7b057","type":"ui_date_picker","z":"283cfe16.9fd772","name":"From date","label":"Vanaf","group":"b14e0265.d6fc1","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":110,"y":680,"wires":[["adf15b4.745d9a8"]]},{"id":"adf15b4.745d9a8","type":"function","z":"283cfe16.9fd772","name":"Set starttijd","func":"flow.set(\"starttijd\", msg.payload/1000);\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":680,"wires":[["a7a40a2.58d2df8"]]},{"id":"5077994f.743088","type":"change","z":"283cfe16.9fd772","name":"Filter >starttijd","rules":[{"t":"set","p":"payload","pt":"msg","to":"*[tijd>$flowContext('starttijd')]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":480,"wires":[["db186243.a206"]]},{"id":"b14e0265.d6fc1","type":"ui_group","z":"","name":"Weegschaal","tab":"77f91c04.e0ce04","disp":false,"width":"6"},{"id":"77f91c04.e0ce04","type":"ui_tab","z":"","name":"Weegschaal","icon":"dashboard"}]